.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
}

.content_bolck {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.fone {
    display: flex;
    padding: 4px 25px 4px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.fone img {
    width: 70px;
    height: 70px;
    border-radius: 60px;
    margin-right: 5px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-left: 3px;
    justify-content: center;
}

.Home {
    width: 70px;
    height: 70px;
    z-index: 9000;
    position: fixed;
    top: 85%;
    left: 75%;
    opacity: 0.9;
}

@media screen and (max-width: 750px) {
    .main {
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    .content_bolck {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .content_bolck:first-child {
        margin-top: 110px;
    }
    
    .content_bolck:last-child {
        margin-bottom: 50px;
    }
}